<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appSettings>
        <add key="driver" value="mysql" />
        <add key="host" value="localhost" />
        <add key="port" value="3306" />
        <add key="database" value="project_games" />
        <add key="username" value="kaya" />
        <add key="password" value="666" />
    </appSettings>
</configuration>
